@import "~assets/styles/config/colors";

.container {
    padding: 8px 16px;
    margin-bottom: 0;
    border-radius: 10px;
    color: $white;
    background-color: $green-400;
    font-weight: bold;
    transition: all ease-in-out 0.25s;
    z-index: 2;

    &.isBooked {
        background-color: $red-400;
    }
}

.button {
    & > .close:hover {
        color: $green-400 !important;
        background-color: $white;
    }

    &.isBooked > .close:hover {
        color: $red-400 !important;
        background-color: $white;
    }
}

.close {
    padding: 4px;
    border-radius: 15px;
    color: $white !important;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}
