@import "~assets/styles/config/colors";
@import "~assets/styles/config/shadows";

$height: 300px;
$width: 299px;

.container {
    width: $width;
    min-height: $height;
    background-color: $white;
}

.iconContainer {
    margin-top: 8px;
}

.title {
    padding: 8px 16px;
    font-weight: bold;
    box-shadow: $shadow-soft;
    z-index: 2;

    &.basic {
        color: $red-400;
    }

    &.pro {
        color: $green-500;
    }

    &.allFeatured {
        color: $primary;
    }
}

.cover {
    color: $white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    &.basic {
        background-color: $red-400;

        &::before {
            border-bottom-color: $red-400;
        }
    }

    &.pro {
        background-color: $green-500;

        &::before {
            border-bottom-color: $green-500;
        }
    }

    &.allFeatured {
        background-color: $primary;

        &::before {
            border-bottom-color: $primary;
        }
    }

    &::before {
        content: " ";
        position: absolute;
        top: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 50px solid $white;
        border-left: $width solid transparent;
        z-index: 1;
    }
}

.price {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
}
