.container {
    width: 460px;
    min-height: 270px;

    &.mobile {
        width: auto;
        max-width: 300px;
        min-height: 460px;
    }

    .status {
        width: 12px;
        height: 12px;
    }
}