.container {
    width: 480px;
    min-height: 256px;

    &.mobile {
        width: auto;
        max-width: 300px;
        min-height: 480px;
    }

    .status {
        width: 12px;
        height: 12px;
    }

    .image__mobile {
        max-height: 160px;
        width: auto;
    }
}