$primary: #9065dd;
$primary-soft: #e4c7ff;
$secondary: #48BEFF;
$secondary-soft: #97D2FF;
$tertiary: #E5D478;
$tertiary-soft: #FBE361;

$white: #fff;

$gray: #9b9b9b;
$gray-900: #333;

$red-400: #e96779 !default;

$green-100: #f3fcf3 !default;
$green-200: #e9fae5 !default;
$green-300: #b6f2b2 !default;
$green-400: #74db70 !default;
$green-500: #19bf33 !default;
$green-600: #11ab2a !default;
$green-700: rgba(72, 198, 134, 1);
$green-800: #008c23 !default;
$green-900: rgba(4, 154, 143, 1);
$green: rgba(45, 206, 137, 1);
