$shadow-none: none;
$shadow-medium: 0 16px 24px rgba(#333, 0.08);
$shadow-soft: 0 8px 12px rgba(#333, 0.08);
$shadow-omni: 0 0 24px rgba(#333, 0.08);

$inner-shadow-soft: inset 0 4px 6px rgba(#333, 0.15);
$inner-shadow-strong: inset 0 4px 2px rgba(#000, 0.3);
