.container {
    .form {
        min-height: calc(100vh - 200px);
    }
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #d7bcf7;
}

audio {
    width: 100%;
}
