@import "~assets/styles/config/containers";

.container {
    height: calc(100vh - #{$blaberRoomTopBarHeight});
}

.topPanel {
    height: 35%;
}

.avatarWrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.bottomPanel {
    height: 65%;
}