@import "~assets/styles/config/containers";
@import "~assets/styles/config/colors";

.firstSection {
    height: calc(100vh - #{$topBarHeight});
}

.section {
    min-height: 100vh;
}

.leadForm {
    margin-top: 48px;
}

.planCardsList {
    margin-bottom: -24px;
    margin-right: -24px;
}

@media only screen and (max-width: 1024px) {
    .leadForm {
        margin-top: 0px;
    }
}
