@import "~assets/styles/config/containers";
@import "~assets/styles/config/colors";

.imgAvatar {
    height: 80px;
    width: 80px;
    border-radius: 100px;
}

.formSection {
    height: 100vh;
    background-color: rgba(8, 73, 151, .75);
}

@media only screen and (max-width: 1024px) {
    .leadForm {
        margin-top: 0px;
    }
}

.lastSection {
    min-height: calc(100vh - 96px);
}

.leadForm {
    border: 3px solid $primary;
    border-radius: 20px !important;
}
