@import "~assets/styles/config/containers";
@import "~assets/styles/config/colors";

.firstSection {
    min-height: calc(100vh - 100px);
}

.banner {
    border-radius: 16px;
}

.img {
    max-width: 100%;
    height: auto;
}

.card {
    padding-bottom: 40px !important;

    &__toggled {
        padding-bottom: 32px !important;
    }
}

.imgAvatar {
    height: 80px;
    width: 80px;
    border-radius: 100px;
}

@media only screen and (max-width: 1024px) {
    .leadForm {
        margin-top: 0px;
    }
}

.lastSection {
    min-height: calc(100vh - 96px);
}

.leadForm {
    border: 3px solid $primary;
    border-radius: 20px !important;
}
