@import "~assets/styles/config/colors";

.bg-white {
    background-color: $white;
}

.bg-primary-soft {
    background-color: $primary-soft;
}

.bg-soft-green {
    background-color: $green-soft !important;
}

.bg-soft-blue {
    background-color: $blue-soft !important;
}

.bg-soft-purple {
    background-color: $purple-soft !important;
}

.bg-light-blue {
    background-color: $light-blue !important;
}

.bg-light-purple {
    background-color: $light-purple;
}

.bg-gradient {
    background: linear-gradient(to right, #FBF8FF, #F9F4FF);
}