.border-circle {
    border-radius: 50px;
}

.rounded-20 {
    border-radius: 20px !important;
}

.rounded-16 {
    border-radius: 16px !important;
}

.rounded-50 {
    border-radius: 50px !important;
}
