@import "~assets/styles/config/colors";
@import "~assets/styles/config/shadows";
@import "~assets/styles/config/borders";

.btn-unstyled {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    box-shadow: $shadow-none !important;
}

.btn-success-gradient {
    background: $green;
    color: $white;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    transition: all ease-in-out 0.25s;

    &:hover {
        background: $green-700;
        color: $white;
    }
}

.btn-white {
    background-color: $white;
    color: $gray-900;
    box-shadow: $shadow-soft !important;
    border-radius: $border-radius-lg;

    &:hover {
        box-shadow: $shadow-medium !important;
    }

    &:active {
        box-shadow: none !important;
    }
}

.btn-invisible {
    background-color: transparent;
    color: transparent;
}

.btn-purple-soft {
    background-color: $purple-soft;
    color: $white;
    border: none;
    transition: all ease-in-out .25s;
    outline: 0;

    &:hover {
        box-shadow: $shadow-soft;
        color:  white;
    }
}

.btn-blue-soft {
    background-color: $blue-soft;
    color: $white;
    border: 0;
    transition: all ease-in-out .25s;
    outline: 0;

    &:hover {
        box-shadow: $shadow-soft;
        color:  $white;
    }
}

.btn-green-soft {
    background-color: $green-soft;
    color: $white;
    border: 0;
    transition: all ease-in-out .25s;
    outline: 0;

    &:hover {
        box-shadow: $shadow-soft;
        color: $white;
    }
}
