.p-3_5 {
    padding: 20px !important;
}

.pb-3_5 {
    padding-bottom: 20px !important;
}

.px-3_5 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.py-3_5 {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}