@import "~assets/styles/config/colors";

.text-green-500 {
    color: $green-500;
}

.text-soft-green {
    color: #9FA98F;
}

.text-soft-blue {
    color: #97d2ff;
}

.text-soft-purple {
    color: #D7BCF7;
}

.text-gray-900 {
    color: $gray-900 !important;
}

.text-white {
    color: $white;
}
