.container {
    width: 520px;

    &.isPortable {
        width: 100%;
        min-height: 520px;
    }

    .name {
        &:before {
            content: " ";
            position: absolute;
            top: -16px;
            left: 0;
            right: 0;
            height: 16px;
            background-color: white;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
        }
    }

    .image {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}
