.quote {
    max-width: 680px;

    &__text {
        z-index: -9;
    }

    &__icon {
        position: absolute;
        bottom: 24px;
        right: 16px;
        z-index: -10;
        opacity: .5;
    }
}
