@import "~assets/styles/config/shadows";

.scrollable {
    .container {
        overflow: auto;
        white-space: nowrap;
        scroll-behavior: smooth;

        &ScrollbarInvisible::-webkit-scrollbar {
            display: none;
        }
    }

    .item {
        display: inline-flex;
        flex-direction: column;
        white-space: normal;
        border-radius: 12px;
    }

    .arrow {
        position: absolute;
        top: 50%;

        &:active svg {
            transform: scale(1.1);
        }

        &.right {
            right: -12px;
            transform: translateY(-50%);
        }

        &.left {
            left: -12px;
            transform: translateY(-50%) rotate(180deg);
        }
    }
}
